/* custom_theme.css */

.uk-theme-grass {
    --background: 78 47% 99%;
    --foreground: 78 51% 0%;
    --muted: 78 12% 85%;
    --muted-foreground: 78 8% 38%;
    --popover: 78 47% 99%;
    --popover-foreground: 78 51% 0%;
    --card: 78 47% 99%;
    --card-foreground: 78 51% 0%;
    --border: 78 2% 93%;
    --input: 78 2% 93%;
    --primary: 78 28% 60%;
    --primary-foreground: 0 0% 0%;
    --secondary: 78 8% 81%;
    --secondary-foreground: 78 8% 21%;
    --accent: 78 8% 81%;
    --accent-foreground: 78 8% 21%;
    --destructive: 17 86% 32%;
    --destructive-foreground: 17 86% 92%;
    --ring: 78 28% 60%;
    --chart-1: 78 28% 60%;
    --chart-2: 78 8% 81%;
    --chart-3: 78 8% 81%;
    --chart-4: 78 8% 84%;
    --chart-5: 78 31% 60%;
    --radius: 0.5rem;
  }
  
  .dark.uk-theme-grass {
    --background: 78 48% 2%;
    --foreground: 78 24% 99%;
    --muted: 78 12% 15%;
    --muted-foreground: 78 8% 62%;
    --popover: 78 48% 2%;
    --popover-foreground: 78 24% 99%;
    --card: 78 48% 2%;
    --card-foreground: 78 24% 99%;
    --border: 78 2% 14%;
    --input: 78 2% 14%;
    --primary: 78 28% 60%;
    --primary-foreground: 0 0% 0%;
    --secondary: 78 8% 14%;
    --secondary-foreground: 78 8% 74%;
    --accent: 78 8% 14%;
    --accent-foreground: 78 8% 74%;
    --destructive: 17 86% 60%;
    --destructive-foreground: 17 86% 0%;
    --ring: 78 28% 60%;
    --chart-1: 78 28% 60%;
    --chart-2: 78 8% 14%;
    --chart-3: 78 8% 14%;
    --chart-4: 78 8% 17%;
    --chart-5: 78 31% 60%;
  }